BasedOnStyle: LLVM
IndentWidth: 2
ContinuationIndentWidth: 2
UseTab: Never
ColumnLimit: 120
AllowShortIfStatementsOnASingleLine: WithoutElse
AlignConsecutiveMacros: AcrossEmptyLinesAndComments
AlignAfterOpenBracket: Align
BreakAfterOpenBracketBracedList: true
BreakAfterOpenBracketFunction: false
BracedInitializerIndentWidth: 4
AlignTrailingComments: Leave